<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="cfdc5e95-a19a-4e8e-9642-03ab0fe6a859" file="dev-config.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db532a52-849d-4b33-8d3d-aaf0c5ccdd5c" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<db:config name="DB_MySQL" doc:name="Database Config" doc:id="f81a1b2e-3e78-422e-927b-62090dd665b8" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<flow name="app" doc:id="74656903-67ac-4a6e-a903-a3023381114f" >
		<http:listener doc:name="Listener" doc:id="48a3166e-8ce9-4d87-858d-f5a7057723d8" config-ref="HTTP_Listener_config" path="/hello"/>
		<db:select doc:name="Select" doc:id="2238aa0e-7727-493e-ba3e-a59fed06c4b7" config-ref="DB_MySQL">
			<db:sql >SELECT * FROM accounts</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="40908588-cc52-4f9c-ae9a-d29b8f80c7c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
